/* main favoritos*/
main{
    .favorito{
        @include estilo-de-fondo();
        .contenido-favorito{
            background-color: nth($list: $colores, $n: 3);
            color: nth($list: $colores, $n: 1);
            font-size: large;
            border-radius: 10px;
            width: 100%;
            padding: 30px;
            text-align: center;
            .img-favorito{
                width: 400px;
                padding-right: 5vw;
            }
        }
    }
}