/* PANTALLA PARA TABLET*/
@media screen and (max-width: 768px) {
    /*header*/
    header {
        section{
            div{
                #toggle:checked ~ .menu {
                    display: block;
                }
                a{
                    .logo{
                        display: none;
                    }
                    .boton-logo{
                        display: block;
                        position: fixed;
                        z-index: 5;
                        width: 52px;
                        height: 52px;
                        top: 9px;
                        left: 10px;
                        cursor: pointer;
                        overflow: hidden;
                        &:hover{
                            width: 55px;
                            height: 55px;
                            top: 8px;
                            left: 9px;
                        }
                    }
                }
                .hamburguesa{
                    display: inline-block;
                    position: relative;
                    z-index: 4;
                    .img-hamburguesa{
                        width: 40px;
                        margin-top: 15px;
                        margin-left: 86vw;
                        border-radius: 8px;
                        cursor: pointer;
                        &:hover{
                            box-shadow: 0 0 10px 2px nth($list: $colores, $n: 1);
                        }
                    }
                }
                .menu{
                    display: none;
                    .navegador{
                        display: block;
                        position: absolute;
                        z-index: 5;
                        margin-left: 0;
                        padding: 0% 100% 1% 1%;
                        background-color: nth($list: $colores, $n: 3);
                        margin-top: 15px;
                        li{
                            .boton-nav{
                                border: none;
                                padding-right: 100%;
                                padding-left: 50vw;
                                &:hover{
                                    padding-right: 150vw;
                                }
                            }
                        }
                    }
                }           
            }
        }
    }
    /* main index */
    main{
        .carrusel{
            div{
                .boton-carrusel{
                    position: relative;
                    z-index: 3;
                }
            }
        }
        .h1-ofertas{
            font-size: 5vw;
        }
        .contenedor-cards{
            padding: 0% 5% 0% 5%;
            align-items: center;
            grid-template-columns: repeat(3, 1fr);
            gap: 0% 5%;
            grid-template-areas:
            "hijo1 hijo2 hijo3"
            "hijo4 hijo5 hijo6"
            "hijo7 hijo8 none";
            .ropa-card{
                width: 100%;
                height: 80%;
                .tamaño-img{
                    width: 100%;
                }
                .boton-corazon{
                    font-size: 8vw;
                    bottom: 28vw;
                    left: 9vw;
                }
                .info-card{
                    bottom: 12vw;
                    .nombre-producto{
                        font-size: 2.5vw;
                    }
                    .precio{
                        font-weight: 400;
                        font-size: 4vw;
                    }
                    .agregar-carrito{
                        font-size: 2.5vw;
                        padding: 0.5vw;
                    }
                }
            }
        }
        .metodos-pago{
            div{
                .p1{
                    margin-right: 68vw;
                }
                .pago1{
                    margin-top: -12vw;
                }
            }
            div{
                .pago2{
                    margin-top: -9vw;
                }
                .pago3{
                    margin-top: -9.8vw;
                }
            }
            div{
                .pago4, .pago5, .pago6 {
                    margin-top: -9vw;
                }
            }
        }
        div{
            .formas-pago{
                display: none;
            }
        }
    }  
/* main carrito */
    main{
        .carrito{
            h1{
                font-size: 5vw;
            }
            h2{
                font-size: 4vw;
            }
            .slider{
                width: 90%;
            }
        }
    }
/* main favorito */
    main{
        section{
            div{
                .h1-favorito{
                    font-size: 6vw;
                    margin: 0vw 5vw;
                }
                .img-favorito{
                    width: 40vw;
                    margin-left: 25vw;
                }
            }
        }
    }
/* main contacto */
    main{
        .formulario{
            .h1-contacto{
                font-size: 5vw;
            }
            .info-formulario{
                .contacto-redes{
                    margin-top: 1vw;
                    h2{
                        font-size: 3vw;
                    }
                    a{
                        .link-w, .link-f{
                            margin: 2vw 0vw 0vw 8vw;
                        }
                    }
                    a{
                        .link-i{
                            margin: 2vw 0vw 0vw 10vw;
                        }
                    }
                }
            }
        }
    }  

/* main nosotros */
    main{
        .h1-nosotros{
            font-size: 5vw;
        }        
        .nosotros{
            .ubicacion{
                h2{
                    font-size: 4vw;
                }
                .mapa{
                    iframe{
                        height: 20vw;
                    }
                }
            }
        }   
    }
    /* footer */
    footer{
        .footer{  
            .p1-footer, .p3-footer{
                .p{
                    margin-left: -1vw;
                    font-size: 1.8vw;
                    margin-bottom: 3vw;
                }
                .p1, .p3{
                    font-size: 1.3vw;
                    margin-left: -1vw;
                }
            }
            .p2-footer{
                .p{
                    font-size: 1.8vw;
                    margin-bottom: 1.5vw;
                    margin-left: -1vw;
                }
                .p2{
                    margin-left: -2vw;
                    a{
                        img{
                            width: 3vw;
                        }
                    }
                }
            }
        }
    }
}



/*PANTALLA MOVILE */
@media screen and (min-width: 320px) and (max-width: 480px) {
 /* main index */
    main{
        .h1-ofertas{
            font-size: 8vw;
        }
        .contenedor-cards{
            padding: 0vw 21vw;
            grid-template-columns: 1fr;
            grid-template-areas:
            "hijo1" 
            "hijo2"
            "hijo3"
            "hijo4"
            "hijo5"
            "hijo6"
            "hijo7"
            "hijo8";
            .ropa-card{
                width: 100%;
                height: 82%;
                .tamaño-img{
                    width: 100%;
                }
                .boton-corazon{
                    font-size: 12vw;
                    bottom: 57vw;
                    left: 20vw;
                }
                .info-card{
                    bottom: 18.5vw;
                    .nombre-producto{
                        font-size: 3.5vw;
                    }
                    .precio{
                        font-weight: 400;
                        font-size: 5vw;
                    }
                    .agregar-carrito{
                        font-size: 4vw;
                    }
                }
            }
        }
    }
    /* main carrito */
    main{
        .carrito{
            h1{
                font-size: 8vw;
            }
            h2{
                font-size: 4vw;
            }
            .slider{
                width: 80%;
            }
        }
    }
    /* main contacto */
    main{
        .formulario{
            .h1-contacto{
                font-size: 7vw;
            }
            .info-formulario{
                padding: 0vw 25vw 4vw 25vw ;
                grid-template-columns: 1fr;
                grid-template-areas: 
                "1hijo"
                "2hijo";
                form{
                    margin-left: 0;
                    .nombre{
                        font-size: 3.5vw;
                        #nombre{
                            width: 50vw;
                            height: 5vw;
                        }
                    }
                    .correo{
                        font-size: 3.5vw;
                        #correo{
                            width: 50vw;
                            height: 5vw;
                        }
                    }
                    .mensaje{
                        font-size: 3.5vw;
                        #mensaje{
                            width: 50vw;
                            height: 15vw;
                        }
                    }
                    div{
                        font-size: 3vw;
                    }
                    div{
                        .enviar-formulario{
                            font-size: 3vw;
                            padding: 0.2vw 1vw;
                        }
                    }
                }
                .contacto-redes{
                    margin-top: 3vw;
                    h2{
                        font-size: 4.5vw;
                    }
                    a{
                        .link-w, .link-i, .link-f{
                            margin: 2vw 0vw 0vw 8vw;
                            width: 33vw;
                            &:active{
                                width: 31vw;
                            }
                            &:hover{
                                width: 35vw;
                            }
                        }
                    }
                }
            }
        }
    }
   /* main nosotros */
    main{
        .h1-nosotros{
            font-size: 7vw;
        }        
        .nosotros{
            grid-template-columns:1fr;
            gap: 2vw;
            grid-template-areas:
            "info1"
            "info2"
            "info3";
            .info-nosotros{
                padding: 1vw 16vw;
                p{
                    font-size: 3vw;
                }
            }
            div{
                .img-nosotros{
                    width: 37vw;
                }
            }
            .ubicacion{
                h2{
                    font-size: 5vw;
                    margin-top: 3vw;
                }
                p{
                    font-size: 3vw;
                }
                .mapa{
                    iframe{
                        height: 20vw;
                    }
                }
            }
        }   
    }  
    /* main favorito */
    main{
        section{
            div{
                .h1-favorito{
                    font-size: 12vw;
                    margin: 0vw 5vw;
                }
                .img-favorito{
                    width: 60vw;
                    margin-left: 11vw;
                }
            }
        }
    }
    /* footer */
    footer{
        .footer{
            margin-top: 4vw;
            height: 17vw;
            .p1-footer, .p3-footer{
                .p{
                    font-size: 2.2vw;
                    margin-left: -5vw;
                }
                .p1, .p3{
                   
                    font-size: 1.3vw;
                    margin-left: -5vw;
                    margin-bottom: 4vw;
                }
            }
            .p2-footer{
                .p{
                    font-size: 2.2vw;
                    margin-left: -4vw;
                }
                .p2{
                    margin-left: -5.5vw;
                    a{
                        img{
                            width: 4vw;
                        }
                    }
                }
            }
        }
    }
}   


