/* footer */
footer {
    .footer {
        display: grid;
        position: relative;
        background-color: black;
        width: 100%;
        padding-top: 2vw;
        margin-top: 1vw;
        color: nth($list: $colores, $n: 1);
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: "l1 l2 l3";  
        .p1-footer {
            grid-area: l1;
            font-size: 0.8vw;
            line-height: 0.1vw;
            margin-left: 15vw;
            .p {
            font-size: 1.2vw;
            font-weight: 600;
            margin-bottom: 1.5vw;
            }
            .p1 {
                padding-left: 0;
            }
        }
        .p2-footer {
            grid-area: l2;
            font-size: 0.8vw;
            line-height: 0.3vh;
            margin-left: 10vw;
            .p {
                font-size: 1.2vw;
                font-weight: 600;
            }
            .p2 {
                padding-left: 0;
                display: flex;
                margin-left: -1vw;
                a{
                    img{
                        width: 2.3vw;
                    }
                }
            }
        }
        .p3-footer {
            grid-area: l3;
            font-size: 0.8vw;
            line-height: 0.1vw;
            .p {
                font-size: 1.2vw;
                font-weight: 600;
                margin-bottom: 1.5vw;
            }
            .p3 {
                padding-left: 0;
            }
        } 
    }  
}
  