/*header*/
header {
    section{
        div{
            background-color: #d6d6d6;
            background-image: linear-gradient(180deg, #d6d6d6 0%, #929292 100%);
            width: 100%;
            height: 70px;
            position:fixed;
            z-index: 4;
            a{
                .logo{
                    position: fixed;
                    width: 110px;
                    height: 50px;
                    left:1.5vw;
                    top: 10px;
                    border-radius: 30px;
                    overflow: hidden;
                    &:hover{
                        width: 113px;
                        height: 53px;
                        top: 9px;
                    }
                }
                .boton-logo{
                    display: none;
                }                   
            }
            .checkbox{
                position: fixed;
                width: 20px;
                height: 20px;
                z-index: 1;
                opacity: 0;
            }
            .hamburguesa{
            display: none;
            }
            .menu{
                .navegador{
                    display: flex;
                    position: absolute;
                    z-index: 5;
                    list-style: none;
                    margin-top: 21px;
                    margin-left: 23vw;
                    padding-left: 0;

                    li{
                        .boton-nav{
                            text-decoration: none;
                            padding: 0.5vw 3vw 0.5vw 1vw;
                            font-size: large;
                            font-weight: 600;
                            color: nth($list: $colores, $n: 1); 
                            margin-right: 2vw; 
                            border-right: 1px solid #f9f8f8;  
                            position: relative; 
                            overflow: hidden;                    
                            &::before {
                                content: "";
                                position: absolute;
                                bottom: 0;
                                left: 0;
                                width: 100%;
                                height: 1px;
                                background-color: #fff; 
                                transform: scaleX(0); 
                                transition: transform 0.3s ease-out; 
                                transform-origin: left;
                            }
                            &:hover::before {
                                box-shadow: 0 0 10px 2px nth($list: $colores, $n: 1);
                                transform: scaleX(0.8);
                            }                        
                        } 
                    }
                }
            }
            a{
                .boton-fav{
                    width: 38px;
                    height: 38px;
                    position: fixed;
                    right: 68px;
                    top: 6px;
                }
            }
            a{
                .boton-carr{
                    position: fixed;
                    width: 40px;
                    height: 40px;
                    right: 28px;
                    top: 6px;
                }
            }

        }
    }
}
